<section class="content-section resources" id="resources">
  <h2>Resources</h2>
  <p class="section-intro">Dig deeper into the grant and the university hubs that support this work.</p>
  <ul class="resource-list">
    <li>
      <span>Project Grant (NSF RED Award #2449875)</span>
      <a class="btn tertiary" href="https://www.nsf.gov/awardsearch/show-award?AWD_ID=2449875" target="_blank" rel="noopener noreferrer">View Award</a>
    </li>
    <li>
      <span>Other NSF RED Projects</span>
      <a class="btn tertiary" href="https://www.nsf-redprojects.org/" target="_blank" rel="noopener noreferrer">Explore</a>
    </li>
    <li>
      <span>UC Merced EE</span>
      <a class="btn tertiary" href="https://www.ee.ucmerced.edu/" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </li>
  </ul>
</section>
