<header class="site-header">
  <div class="brand">
    <img src="https://www.ucmerced.edu/sites/g/files/ufvvjh1421/f/ucmlogo_1.png" alt="University of California Merced logo" />
    <div class="brand-text">
      <span class="brand-title">Electrical Engineering</span>
      <span class="brand-subtitle">Redesigning Engineering Departments</span>
    </div>
  </div>
  <nav class="site-nav">
    <a href="#top">Introduction</a>
    <a href="#overview">Overview</a>
    <a href="#team">Team</a>
    <a href="#resources">Resources</a>
  </nav>
</header>
